.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  width: 100%;
  height: 100%;
}

.modalContent {
  background: white;
  padding: 100px;
  border-radius: 8px;
  text-align: center;
  font-size: 15px;
}

.openButton {
  background-color: blue;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
}

.openButton:hover {
  background-color: blue;
}

.closeButton {
  background-color: blue;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

.closeButton:hover {
  background-color: blue;
}

.checkboxGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0;
  font-size: 16px;
}

.checkboxGroup label {
  display: flex;
  align-items: center;
  gap: 5px; /* فاصله بین چک‌باکس و متن */
}
