.container {
    justify-content: center;
  }
  
  .adsSection {
    display: grid;
    grid-template: repeat(3, 1fr);
    gap: 5px;
    width: 100%;
    max-width: 1500px;
  }
  @media (max-width: 768px) {
    .adsSection {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }
  }